@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ol>
    <li>
        @Html.AnchorTag("/Home/JSTests", "JSTests")
    </li>
    <li>
        @Html.AnchorTag("/JasmineTests/SpecRunner", "Jasmine Tests")
    </li>
    <li>
        @Html.AnchorTag("/Home/NotEnabledTest", "NotEnabledTest")
    </li>
    <li>
        @Html.AnchorTag("/Home/MaxMessagesTest", "MaxMessagesTest")
    </li>
    <li>
        @Html.AnchorTag("/Home/MaxMessagesTest0", "MaxMessagesTest0")
    </li>
    <li>
        @Html.AnchorTag("/Home/MaxMessagesTestBatching", "MaxMessagesTestBatching")
    </li>
    <li>
        @Html.AnchorTag("/Home/RequestIdTest", "RequestIdTest")
    </li>
    <li>
        @Html.AnchorTag("/Home/RequestIdTest/6789", "RequestIdTest/6789")
    </li>
    <li>
        @Html.AnchorTag("/Html/requirejstest.html", "requirejstest")
    </li>
    <li>
        @Html.AnchorTag("/Html/exceptiontests.html", "exceptiontests")
    </li>
</ol>
