@using JSNLog.TestSite

@{
    Layout = null;
}

<!--
The test code in JSTestUtils writes a lot of stuff to the console.
To save the console to file, right click inside the console and Save As.
Any "consolelogid" numbers are shown in both the error message in the Jasmine screen and in the console log for easier correlation
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Jasmine Spec Runner v2.8.0</title>
    <link rel="shortcut icon" type="image/png" href="../scripts/libs/jasmine-2.8.0/jasmine_favicon.png">
    <link rel="stylesheet" href="../scripts/libs/jasmine-2.8.0/jasmine.css">
    <script src="../scripts/libs/jasmine-2.8.0/jasmine.js"></script>
    <script src="../scripts/libs/jasmine-2.8.0/jasmine-html.js"></script>
    <script src="../scripts/libs/jasmine-2.8.0/boot.js"></script>
    <!-- include source files here... -->
    @{
        string cacheBuster = Context.Request.Query["cachebuster"];
    }

    @Html.ScriptTag("../scripts/libs/jsnlog.js", cacheBuster)

    <!-- include spec files here... -->
    @Html.ScriptTag("../scripts/JLTestUtils.js", cacheBuster)
    @Html.ScriptTag("SpecHelper.js", cacheBuster)
    @Html.ScriptTag("specs/SimpleLoggingSpec.js", cacheBuster)
    @Html.ScriptTag("specs/MaxMessagesSpec.js", cacheBuster)
    @Html.ScriptTag("specs/ServerUnavailableSpec.js", cacheBuster)
    @Html.ScriptTag("specs/BatchingSpec.js", cacheBuster)
    @Html.ScriptTag("specs/AppenderNameConstraintsSpec.js", cacheBuster)
</head>
<body>
    <!--Must be on the page to classify test as having been run-->
    <div id="loaded">Page Loaded</div>

    <!--The testdone object signals to the C# that it can stop waiting for the test to finish-->
    <div id="testdone"></div>
</body>
</html>


